body{
    background-image: url("https://media.istockphoto.com/id/1638102001/photo/joglo.jpg?s=2048x2048&w=is&k=20&c=ALVIv2yki1wm4BM9PBZWWedwKwdMwi0LahAPYdGAueA=");

    
}
#guessinput{
    height: 30px;
    width: 300px;
}
#btn{
    height: 30px;
    width: 100px;
}
h1{
    
    text-align: center;
    
}